/* General Styles */
/* I have quicksand (secondary font aka reg text) in 400, 500, and 700 */
/* I have poppins (primary font aka headings text) in 600 and 500 */

body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	background-color: #333; /* Dark grey background */
	color: #fff; /* White text */
	display: flex;
	justify-content: center;
	width: 100vw;
}

body,
html {
	height: 100% !important;
}

/* Chat Container Styles */
#chat-container {
	width: 100%;
	height: 87%;
	background-color: #444;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}

/* Content Area Styles */
#content-area {
	display: flex;
	flex: 1; /* This will make content-area flexible */
	min-height: 0; /* Fix for flexbox overflow issue */
}

/* Chat Header Styles */
#chat-header {
	box-sizing: border-box;
	display: flex;
	flex-direction: column; /* Stack items vertically */
	justify-content: center; /* Center items vertically */
	align-items: center; /* Center items horizontally */
	padding: 4px; /* Add more padding as needed */
	width: 100%; /* Ensure full width */
	text-align: center; /* Center the text if it's not in a flex container */
	z-index: 2; /* Ensure it's above the scrollable area */
	flex-shrink: 0; /* Prevents the header from shrinking */
}

#chat-icon {
	width: 100px;
}

#chat-title {
	font-family: 'Popins', Arial;
	font-weight: 600;
	color: #9cdf16; /* Green text */
	font-size: 1.3em; /* Adjust the font size as needed */
	margin-top: 10px; /* Add space between the logo and the title */
	padding: 5px; /* Makes sure the title doesn't go behind the seperator */
}

/* Scrollable Messages Area Styles */
#scrollable-messages {
	overflow-y: auto; /* Enable vertical scrolling */
	width: 100%; /* Ensure it takes the full width */
	flex-grow: 1; /* Takes up the remaining space in the flex container */
}

/* Messages Area Styles */
#messages {
	display: flex; /* this makes the messages not fixed in size? */
	flex-direction: column;
	height: 100%; /* Ensure the messages container fills the area */
	flex-grow: 2;
	overflow-y: auto;
	padding: 0px;
	background-color: #333;
	margin-right: 5px; /* Padding between messages and company details */
	width: 65%;
}

.message-wrapper {
	max-width: 80%; /* Limit maximum width of messages */
}

.message .content {
	font-size: 1em; /* Match font size */
}

.message-wrapper.user {
	margin-left: auto; /* Push user messages to the right */
	margin-right: 1.8%;
}

.message-wrapper.assistant {
	margin-right: auto; /* Keep assistant messages to the left */
	margin-left: 1.8%;
}

.message {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	word-break: break-word; /* Ensures text breaks to prevent overflow */
	background-color: #666; /* Lighter grey for assistant messages */
	color: #fff; /* Keep text color white */
	font-size: 0.9em; /* Smaller font size for messages */
}

.message.user {
	background-color: #9cdf16; /* Green background for user messages */
}
/*************************************************************************************/
/* Travel Details Styles */
#travel-details-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 1rem 1rem 1rem 1rem;
	background: #fff;
	align-items: center;
	justify-content: left;
	text-align: center; /* center all items in child divs */
	width: 35%;
}

/* Additional Styles to push the Submit button to the bottom */
#travel-details-container .input-container:last-child {
	margin-top: auto; /* This pushes the button to the bottom */
}

/* For image */
#travel-details-container #flight-icon {
	height: 40px;
}

/* For headers in travel details container */
#travel-details-container #header-content {
	font-family: 'Poppins', arial;
	font-size: 1.6rem;
	color: #020819;
	margin: 5px;
	line-height: 1.8rem;
}
#travel-details-container #airports-header {
	font-family: 'Poppins', arial;
	font-size: 1.3rem;
	color: #020819;
	padding: 5px;
	margin-bottom: 5px;
}

/*For travel type selection*/
#travel-details-container #travel-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}
#travel-details-container #travel-type .radio-option {
	position: relative;
	color: #020819;
	font-family: 'Poppins', arial;
	font-size: 0.8rem;
	flex-grow: 1;
	align-items: center;
	display: flex;
	justify-content: center;
}
#travel-details-container #travel-type .radio-option input[type='radio'] {
	opacity: 0;
	position: absolute;
	width: 1px;
	height: 1px;
}
#travel-details-container #travel-type .radio-option .custom-radio {
	display: inline-block;
	width: 0.85rem; /* Large size */
	height: 0.85rem; /* Large size */
	border: 1px solid #e0dce4;
	border-radius: 50%;
	margin-right: 10px;
	position: relative;
}
.radio-option input[type='radio']:checked + .custom-radio::before {
	content: '';
	position: absolute;
	top: 0.15rem; /* Adjust these values to center the circle */
	left: 0.15rem; /* Adjust these values to center the circle */
	width: 0.55rem; /* Size of the inner circle */
	height: 0.55rem; /* Size of the inner circle */
	background-color: #9cdf16;
	border-radius: 50%;
}
.radio-option input[type='radio']:checked + .custom-radio {
	background: white;
}

/* For the line breaks */
#travel-details-container .line-break {
	width: 95%; /* Adjust the width as necessary */
	height: 1px; /* Adjust the thickness of the line as necessary */
	background-color: #e0dce4; /* Adjust the color as necessary */
	margin-top: 10px;
	margin-bottom: 15px;
}

/* For grid container */
#travel-details-container .two-column-layout {
	width: 100%;
}

/* For airport selection */
#travel-details-container .input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 0.5rem;
}
#travel-details-container .input-container label {
	color: #020819;
	text-align: left;
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
	font-weight: 500;
}
#travel-details-container .input-container input[type='text'] {
	padding: 10px;
	border: 1px solid #e0dce4;
	border-radius: 0.6rem;
	font-size: 0.85rem;
}
.input-container input[type='text']::placeholder {
	color: #cac6cd;
	opacity: 1; /* Override the default opacity in Chrome */
}
.input-container input[type='text']:focus {
	border-color: #9cdf16;
	outline: none; /* Removes the default focus outline */
	box-shadow: 0 0 3px #9cdf16; /* Adds a glow effect */
}

/* For passanger input field */
#travel-details-container .input-container .number-input-container {
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid #e0dce4;
	border-radius: 0.6rem;
	padding: 0;
}

#travel-details-container
	.input-container
	.number-input-container
	input[type='number'] {
	background-color: transparent;
	flex-grow: 1;
	padding: 10px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	text-align: left;
	width: 100%;
	height: 100%;
	font-size: 0.85rem;
}

#travel-details-container
	.input-container
	.number-input-container
	.button-container {
	display: flex;
	position: absolute;
	right: 0;
	height: 100%; /* Match the height of the input field */
	align-items: center;
}

#travel-details-container
	.input-container
	.number-input-container
	.button-container
	button {
	background-color: #9cdf16; /* Green background */
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	user-select: none;
	height: 1.6rem; /* Match the height of the input field */
	width: 1.6rem; /* Set a fixed width to make the buttons square */
	display: flex;
	align-items: center; /* Vertically center the content */
	justify-content: center; /* Horizontally center the content */
}

#travel-details-container
	.input-container
	.number-input-container
	.button-container
	.minus {
	font-size: 1.3rem;
	margin-right: 0.5rem;
	border-radius: 0.6rem;
	position: relative; /* To center the minus sign */
}
/* To center the minus sign */
#travel-details-container
	.input-container
	.number-input-container
	.button-container
	.minus::after {
	content: '-';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -55%);
	font-size: 1.3rem; /* Adjust font size if necessary */
}

#travel-details-container
	.input-container
	.number-input-container
	.button-container
	.plus {
	font-size: 1.3rem;
	margin-right: 0.5rem;
	border-radius: 0.6rem;
}

/* Makes sure no outline on the outer container */
.input-container input[type='number']:focus {
	outline: none;
	box-shadow: 0 0 0px #9cdf16;
}

#travel-details-container .input-container .number-input-container.focused {
	border-color: #9cdf16;
	outline: none; /* Removes the default focus outline */
	box-shadow: 0 0 3px #9cdf16; /* Adds a glow effect */
}

/* For flight class dropdown selection */
/* Style the dropdown container with the same style as input-container */
.class-input-dropdown {
	position: relative; /* Add this line */
	display: inline-flex;
	flex-direction: column;
	border-radius: 0.6rem;
	margin-bottom: 0.5rem; /* Spacing between this and other input containers */
	background-color: transparent;
	flex-grow: 1;
	padding: 0px;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	text-align: left;
	width: 100%;
	height: 100%;
	border: 1px solid #e0dce4;
	border-radius: 0.6rem;
}

.class-input-dropdown.focused {
	border-color: #9cdf16;
	outline: none; /* Removes the default focus outline */
	box-shadow: 0 0 3px #9cdf16; /* Adds a glow effect */
}

/* Style the button to match the input container style */
.class-input-dropdown .dropbtn {
	font-size: 1rem; /* Match the font size of input containers */
	color: #000; /* Text color */
	padding: 10px; /* Padding to match the input containers */
	border: none; /* No border for the button */
	border-radius: 0.6rem; /* Match the border-radius of input containers */
	width: 100%; /* Button should occupy the full width of its parent */
	text-align: left; /* Align text to the left */
	cursor: pointer; /* Change cursor on hover */
	background-color: transparent;
	font-size: 0.85rem;
}

/* Add similar focus styles for the class dropdown button */
.class-input-dropdown .dropbtn:focus {
	border-color: #9cdf16;
	outline: none !important;
	box-shadow: none !important;
}

/* Style the dropdown content to match the overall design */
.class-input-dropdown .dropdown-content {
	display: none; /* Hide the dropdown content initially */
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 0.6rem; /* Match the border-radius of input containers */
	text-decoration: none;
}

/* Style the dropdown links to look like options */
.class-input-dropdown .dropdown-content a {
	color: black;
	padding: 10px; /* Padding to match the button */
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #e0dce4; /* Separator for options */
	font-family: Arial; /* Specific font family */
	font-size: 0.85rem; /* Specific font size */
}

/* Remove border from the last link to match input container style */
.class-input-dropdown .dropdown-content a:last-child {
	border-bottom: none;
}

/* Emissions Message */
.emissions-info {
	font-family: 'Poppins', arial;
	font-size: 0.9rem;
	color: #9cdf16;
	padding: 5px;
	margin-bottom: 5px;
}

/* Submit button */
#travel-details-container #submit-button {
	width: 100%; /* Match the width of input containers */
	padding: 10px; /* Same padding as input fields for consistent height */
	border-radius: 0.6rem; /* Match the border radius of input containers */
	border: none; /* No border for the button */
	background-color: #9cdf16; /* Green background color */
	color: white; /* White text color */
	font-size: 1rem; /* Match the font size of input text */
	cursor: pointer; /* Change cursor to pointer on hover */
}

#travel-details-container #submit-button:hover {
	background-color: #9cdf16; /* Slightly lighter green on hover */
}

#travel-details-container #submit-button:disabled,
#travel-details-container r#submit-button:disabled:hover {
	background-color: #ccc; /* Or any other color you use for disabled state */
	color: #666;
	cursor: not-allowed;
}

/**********************/

/*************************************************************************************/

/* Message Form Styles */
#message-form {
	box-sizing: border-box;
	position: fixed; /* Fixed positioning relative to the viewport */
	bottom: 0; /* Align to the bottom of the viewport */
	left: 0; /* Align to the left of the viewport */
	display: flex;
	align-items: center;
	background-color: #444;
	padding: 10px; /* Increased padding to 10px, adjust if needed */
	width: 100%;
	height: 13%;
}

#message-input {
	box-sizing: border-box;
	flex-grow: 1;
	margin: 0px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	background-color: #333; /* Dark grey background */
	color: #fff; /* White text */
	resize: none; /* Prevent manual resize */
	height: 90%;
	font-size: 1em; /* Bigger text in textarea */
	overflow-y: auto; /* Allows scrolling inside the textarea if text exceeds the height */
}

#message-input:focus {
	border: 2px solid #9cdf16; /* Change the border color to green and set its width */
	outline: none; /* Optional: Removes the default focus outline */
}

#word-count {
	color: #aaa; /* Light grey for word count */
	margin: 0 10px; /* Added margin for spacing */
	align-self: center;
}

/* Hide the default file input and show only the custom button */
#upload-file {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

/* Custom styled label used as the file upload button */
#upload-label {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: white;
	width: 2.5rem; /* Square dimension */
	height: 2.5rem; /* Square dimension */
	text-align: center;
	font-family: 'Poppins', sans-serif; /* Consistent font family */
	font-size: 0.85rem; /* Match size of other form elements */
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px; /* Space before the send button */
	line-height: 20px; /* Adjust based on your design */
}

#upload-label i {
	color: #333; /* Icon color */
	font-size: 16px; /* Icon size */
}

#message-form #send-button {
	background-color: #9cdf16; /* Green button */
	font-weight: 5000;
	color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
}

#message-form button:hover {
	background-color: #9cdf16;
}

/* Scrollbar Styles */
#messages::-webkit-scrollbar {
	width: 8px;
}

#send-button:disabled,
#send-button:disabled:hover {
	background-color: #ccc; /* Or any other color you use for disabled state */
	color: #666;
	cursor: not-allowed;
}

#messages::-webkit-scrollbar-thumb {
	background: #555; /* Scrollbar thumb */
	border-radius: 4px;
}

/* to fix the grid being pushed off the side of the page on mobile */
.input-container input,
.input-container button,
.class-input-dropdown .dropbtn {
	width: 100%; /* Ensure they take up their container's width */
	max-width: 100%; /* Prevent them from exceeding their container's width */
	box-sizing: border-box;
}

/* Hide desktop specific things */
.hidden-desktop {
	display: none !important;
}

/* Error Message Styles */
.error-message {
	color: red;
	margin-bottom: 12px; /* Adjust as needed */
	text-align: center;
	display: none; /* Initially hidden */
}

/* Error Highlight Styles */
.error-highlight {
	outline: 2px solid rgba(255, 0, 0, 0.5); /* Adds a red outline */
	box-shadow: 0 0 4px rgba(255, 0, 0, 0.5); /* Adds a subtle red glow */
}

/* For Focusing */
button:focus,
input:focus,
a:focus,
select:focus,
textarea:focus {
	outline: 2px solid #9cdf16; /* Example green color */
	outline-offset: 2px; /* Adds space between the outline and the element's border */
}

/* Additional style for dropdown options for consistency */
.class-input-dropdown .dropdown-content a:focus {
	border-color: #9cdf16;
	outline: none; /* Removes the default focus outline */
	box-shadow: 0 0 5px #9cdf16; /* Adds a glow effect */
}

/************* MOBILE *************/
@media (max-width: 768px) {
	/* Apply changes only within the #content-area */

	#chat-container {
		height: 100%;
		display: flex;
		flex-direction: column; /* Stack children vertically on mobile */
	}
	#content-area {
		display: flex;
		flex-direction: column; /* Stack children vertically on mobile */
		height: 80%;
	}

	#chat-header {
		padding-top: 0px;
		margin-bottom: 3px;
	}

	#chat-icon {
		width: 50px;
	}

	#chat-title {
		margin-top: 0px;
		padding: 0px;
	}

	.two-column-layout {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: repeat(2, 1fr); /* Create two columns */
		gap: 0px 12%; /* Space between grid items */
		padding: 0px;
		width: 85% !important; /* the important is neccesary for soe reason */
	}

	/* Place the travel details container first */
	#travel-details-container {
		box-sizing: border-box;
		order: 1; /* Use order to make it appear on top */
		width: 100%; /* Ensures full width but may need adjustment for padding */
		padding: 0 10px; /* Adds padding to the sides. Adjust the value as needed */
		padding-top: 0px;
		max-width: none;
	}

	#travel-type {
		margin-bottom: 5px;
	}

	.emissions-info {
		font-size: 0.7rem;
		padding-top: 0px;
	}

	/* Ensure messages appear after the travel details */
	#messages {
		padding-top: 10px;
		order: 2; /* This will place it below the travel details on mobile */
		width: 100%; /* Make it full width on smaller screens */
	}

	.message {
		padding: 8px;
	}

	/* Ensure the message form stays at the bottom without changing its order */
	#message-form {
		order: 3; /* Explicitly keep the message form at the bottom */
		padding-right: 12px;
		width: 100%; /* Adjust if necessary to ensure full width on mobile */
		box-sizing: border-box; /* Ensures padding is included in the width */
		height: 10%;
		position: relative;
	}

	.hidden-mobile {
		display: none !important;
	}
	.hidden-desktop {
		display: inline-block !important;
	}
}
