/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Chat Container Styles */
#chat-container {
  width: 100%;
  height: 100vh;
  background-color: #444; /* Slightly lighter grey for chat container */
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Chat Header Styles */
#chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #333; /* Dark grey background */
}

#chat-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#chat-title {
  color: #4caf50; /* Green text */
  font-size: 1.5em;
  margin-top: 5px;
}

/* Messages Area Styles */
#messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #333; /* Dark grey background */
}

.message-wrapper {
  max-width: 55%; /* Limit maximum width of messages */
}

.message .content {
  font-size: 1.2em; /* Match font size */
}

.message-wrapper.user {
  margin-left: auto; /* Push user messages to the right */
}

.message-wrapper.assistant {
  margin-right: auto; /* Keep assistant messages to the left */
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  word-break: break-word; /* Ensures text breaks to prevent overflow */
  background-color: #666; /* Lighter grey for assistant messages */
}

.message.user {
  background-color: #4caf50; /* Green background for user messages */
}

/* Message Form Styles */
#message-form {
  display: flex;
  align-items: center; /* Vertically center items in the form */
  background-color: #444; /* Slightly lighter grey for form area */
  padding: 10px;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  resize: none; /* Prevent manual resize */
  min-height: 40px; /* Set minimum height to 40px */
  font-size: 1.2em; /* Bigger text in textarea */
}

#word-count {
  color: #aaa; /* Light grey for word count */
  margin: 0 10px; /* Added margin for spacing */
  align-self: center;
}

button {
  background-color: #4caf50; /* Green button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Scrollbar Styles */
#messages::-webkit-scrollbar {
  width: 8px;
}

#messages::-webkit-scrollbar-thumb {
  background: #555; /* Scrollbar thumb */
  border-radius: 4px;
}
