/* General Styles */
body {
  font-family: 'Press Start 2P', system-ui;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body,
html {
  height: 100%; /* Ensure body and html cover the full height */
  overflow: hidden; /* Prevent scrolling on the body */
}

/* Chat Container Styles */
#chat-container {
  width: 100%;
  height: 100vh;
  background-color: #444;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Content Area Styles */
#content-area {
  display: flex;
  flex: 1; /* This will make content-area flexible */
  min-height: 0; /* Fix for flexbox overflow issue */
}

/* Chat Header Styles */
#chat-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px; /* Add more padding as needed */
  width: 100%; /* Ensure full width */
  text-align: center; /* Center the text if it's not in a flex container */
}

#chat-icon {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-right: 10px; /* Space after the icon */
}

#chat-title {
  color: #4caf50; /* Green text */
  font-size: 1.3em; /* Adjust the font size as needed */
  margin-top: 10px; /* Add space between the logo and the title */
}

/* Messages Area Styles */
#messages {
  flex-grow: 2;
  overflow-y: auto;
  padding: 0px;
  background-color: #333;
  width: 66.66%;
  margin-right: 5px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#messages {
  width: 66.66%; /* 2/3 of the width */
  overflow-y: auto; /* Allow scrolling */
  margin-right: 5px; /* Padding between messages and company details */
}

.message-wrapper {
  max-width: 55%; /* Limit maximum width of messages */
}

.message .content {
  font-size: 1em; /* Match font size */
}

.message-wrapper.user {
  margin-left: auto; /* Push user messages to the right */
}

.message-wrapper.assistant {
  margin-right: auto; /* Keep assistant messages to the left */
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  word-break: break-word; /* Ensures text breaks to prevent overflow */
  background-color: #666; /* Lighter grey for assistant messages */
  color: #fff; /* Keep text color white */
  font-size: 0.9em; /* Smaller font size for messages */
  font-family: 'Roboto', sans-serif; /* I think this font will look better */
}

.message.user {
  background-color: #4caf50; /* Green background for user messages */
}

/* Company Details Styles */
#company-details {
  width: 33.33%; /* 1/3 of the width */
  padding: 20px; /* Increase padding inside the company details */
  box-sizing: border-box; /* Include padding in width calculation */
  background-color: #333; /* Dark grey background */
  flex-grow: 1; /* Keeps the 1/3 width ratio */
  padding: 10px;
  margin-left: 10px; /* Padding between messages and company details */
}

#company-details label {
  display: block; /* Ensure the label takes up the full width */
  margin-bottom: 15px; /* Increase space between label and input */
  color: #fff; /* White text for the label */
  font-size: 1em; /* Match font size to the input text */
  font-family: 'Press Start 2P', cursive; /* Ensure font family matches the rest of the body */
}

#company-details input[type='text'],
#company-details input[type='number'] {
  width: calc(100% - 20px); /* Adjust width to include padding */
  padding: 10px;
  margin-bottom: 20px; /* Increase space between inputs */
  border: none; /* Remove border */
  background-color: #444; /* Dark grey background */
  color: #4caf50; /* Green text for inputs */
  font-family: 'Press Start 2P', cursive; /* Same font family as the labels */
  font-size: 0.8em; /* Match font size to the labels */
}

#company-details input[type='text']:focus,
#company-details input[type='number']:focus {
  outline: none;
  border-color: #4caf50; /* Highlight with green border when focused */
}

/* Message Form Styles */
#message-form {
  display: flex;
  align-items: center;
  background-color: #444;
  padding: 10px; /* Increased padding to 10px, adjust if needed */
  margin-top: auto; /* Push the form to the bottom */
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  resize: none; /* Prevent manual resize */
  min-height: 50px; /* Set minimum height to 60px */
  font-size: 1em; /* Bigger text in textarea */
}

#word-count {
  color: #aaa; /* Light grey for word count */
  margin: 0 10px; /* Added margin for spacing */
  align-self: center;
}

button {
  background-color: #4caf50; /* Green button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Scrollbar Styles */
#messages::-webkit-scrollbar {
  width: 8px;
}

#messages::-webkit-scrollbar-thumb {
  background: #555; /* Scrollbar thumb */
  border-radius: 4px;
}

/* Remove arrows from number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

/* Media Queries */
@media (max-width: 768px) {
  #chat-container {
    height: calc(
      100vh - 0px
    ); /* Reduce the height to account for additional padding */
  }

  #message-form {
    padding-bottom: 0px; /* Add padding at the bottom of the message form */
  }

  /* Additional mobile-specific adjustments can be added here if needed */
}
