/* General Styles */
/* I have quicksand (secondary font aka reg text) in 400, 500, and 700 */
/* I have poppins (primary font aka headings text) in 600 and 500 */
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body,
html {
  height: 100%; /* Ensure body and html cover the full height */
  overflow: hidden; /* Prevent scrolling on the body */
}

/* Chat Container Styles */
#chat-container {
  width: 100%;
  height: 100vh;
  background-color: #444;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Content Area Styles */
#content-area {
  display: flex;
  flex: 1; /* This will make content-area flexible */
  min-height: 0; /* Fix for flexbox overflow issue */
}

/* Chat Header Styles */
#chat-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 4px; /* Add more padding as needed */
  width: 100%; /* Ensure full width */
  text-align: center; /* Center the text if it's not in a flex container */
}

#chat-icon {
  width: 100px;
}

#chat-title {
  font-family: 'Popins', Arial;
  font-weight: 600;
  color: #28ccb4; /* Green text */
  font-size: 1.3em; /* Adjust the font size as needed */
  margin-top: 10px; /* Add space between the logo and the title */
  padding: 5px; /* Makes sure the title doesn't go behind the seperator */
}

/* Messages Area Styles */
#messages {
  flex-grow: 2;
  overflow-y: auto;
  padding: 0px;
  background-color: #333;
  width: 66.66%;
  margin-right: 5px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#messages {
  width: 66.66%; /* 2/3 of the width */
  overflow-y: auto; /* Allow scrolling */
  margin-right: 5px; /* Padding between messages and company details */
}

.message-wrapper {
  max-width: 55%; /* Limit maximum width of messages */
}

.message .content {
  font-size: 1em; /* Match font size */
}

.message-wrapper.user {
  margin-left: auto; /* Push user messages to the right */
}

.message-wrapper.assistant {
  margin-right: auto; /* Keep assistant messages to the left */
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  word-break: break-word; /* Ensures text breaks to prevent overflow */
  background-color: #666; /* Lighter grey for assistant messages */
  color: #fff; /* Keep text color white */
  font-size: 0.9em; /* Smaller font size for messages */
}

.message.user {
  background-color: #4caf50; /* Green background for user messages */
}
/*************************************************************************************/
/* Travel Details Styles */
#travel-details-container {
  display: flex;
  flex-direction: column;
  max-width: 560px; /* Max width for larger screens */
  padding: 20px;
  border-radius: 1rem 1rem 1rem 1rem;
  background: #fff;
  align-items: center;
  justify-content: left;
  text-align: center; /* center all items in child divs */
}

/* Additional Styles to push the Submit button to the bottom */
#travel-details-container .input-container:last-child {
  margin-top: auto; /* This pushes the button to the bottom */
}

/* Media query for mobile devices to set width at 50% */
/* Doesn't seem to work perfectly */
@media (max-width: 767px) {
  #travel-details-container {
    width: 50%;
  }
}

/* For image */
#travel-details-container #flight-icon {
  height: 40px;
}

/* For headers in travel details container */
#travel-details-container #header-content {
  font-family: 'Poppins', arial;
  font-size: 1.6rem;
  color: black;
  margin: 5px;
  line-height: 1.8rem;
}
#travel-details-container #airports-header {
  font-family: 'Poppins', arial;
  font-size: 1.3rem;
  color: #020819;
  padding: 5px;
  margin-bottom: 5px;
}

/*For travel type selection*/
#travel-details-container #travel-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
#travel-details-container #travel-type .radio-option {
  position: relative;
  color: #020819;
  font-family: 'Poppins', arial;
  font-size: 0.8rem;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
#travel-details-container #travel-type .radio-option input[type='radio'] {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}
#travel-details-container #travel-type .radio-option .custom-radio {
  display: inline-block;
  width: 0.85rem; /* Large size */
  height: 0.85rem; /* Large size */
  border: 1px solid #e0dce4;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.radio-option input[type='radio']:checked + .custom-radio::before {
  content: '';
  position: absolute;
  top: 0.15rem; /* Adjust these values to center the circle */
  left: 0.15rem; /* Adjust these values to center the circle */
  width: 0.55rem; /* Size of the inner circle */
  height: 0.55rem; /* Size of the inner circle */
  background-color: #24b7a2;
  border-radius: 50%;
}
.radio-option input[type='radio']:checked + .custom-radio {
  background: white;
}

/* For the line breaks */
#travel-details-container .line-break {
  width: 95%; /* Adjust the width as necessary */
  height: 1px; /* Adjust the thickness of the line as necessary */
  background-color: #e0dce4; /* Adjust the color as necessary */
  margin-top: 10px;
  margin-bottom: 15px;
}

/* For airport selection */
#travel-details-container .input-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 0.5rem;
}
#travel-details-container .input-container label {
  color: #cac6cd;
  text-align: left;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}
#travel-details-container .input-container input[type='text'] {
  padding: 10px;
  border: 1px solid #e0dce4;
  border-radius: 0.6rem;
  font-size: 0.85rem;
}
.input-container input[type='text']::placeholder {
  color: #cac6cd;
  opacity: 1; /* Override the default opacity in Chrome */
}
.input-container input[type='text']:focus {
  border-color: #24b7a2;
  outline: none; /* Removes the default focus outline */
  box-shadow: 0 0 3px #24b7a2; /* Adds a glow effect */
}

/* For passanger input field */
#travel-details-container .input-container .number-input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e0dce4;
  border-radius: 0.6rem;
  padding: 0;
}

#travel-details-container
  .input-container
  .number-input-container
  input[type='number'] {
  background-color: transparent;
  flex-grow: 1;
  padding: 10px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 0.85rem;
}

#travel-details-container
  .input-container
  .number-input-container
  .button-container {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%; /* Match the height of the input field */
  align-items: center;
}

#travel-details-container
  .input-container
  .number-input-container
  .button-container
  button {
  background-color: #24b7a2; /* Green background */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  height: 1.6rem; /* Match the height of the input field */
  width: 1.6rem; /* Set a fixed width to make the buttons square */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

#travel-details-container
  .input-container
  .number-input-container
  .button-container
  .minus {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 0.6rem;
  position: relative; /* To center the minus sign */
}
/* To center the minus sign */
#travel-details-container
  .input-container
  .number-input-container
  .button-container
  .minus::after {
  content: '-';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  font-size: 1.3rem; /* Adjust font size if necessary */
}

#travel-details-container
  .input-container
  .number-input-container
  .button-container
  .plus {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 0.6rem;
}

/* Makes sure no outline on the outer container */
.input-container input[type='number']:focus {
  outline: none;
  box-shadow: 0 0 0px #24b7a2;
}

#travel-details-container .input-container .number-input-container.focused {
  border-color: #24b7a2;
  outline: none; /* Removes the default focus outline */
  box-shadow: 0 0 3px #24b7a2; /* Adds a glow effect */
}

/* For flight class dropdown selection */
/* Style the dropdown container with the same style as input-container */
.class-input-dropdown {
  display: inline-flex;
  flex-direction: column;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem; /* Spacing between this and other input containers */
  /**/
  background-color: transparent;
  flex-grow: 1;
  padding: 0px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: left;
  width: 100%;
  height: 100%;
  border: 1px solid #e0dce4;
  border-radius: 0.6rem;
}

/* Style the button to match the input container style */
.class-input-dropdown .dropbtn {
  font-size: 1rem; /* Match the font size of input containers */
  color: #000; /* Text color */
  padding: 10px; /* Padding to match the input containers */
  border: none; /* No border for the button */
  border-radius: 0.6rem; /* Match the border-radius of input containers */
  width: 100%; /* Button should occupy the full width of its parent */
  text-align: left; /* Align text to the left */
  cursor: pointer; /* Change cursor on hover */
  background-color: transparent;
  font-size: 0.85rem;
}

/* Style the dropdown content to match the overall design */
.class-input-dropdown .dropdown-content {
  display: none; /* Hide the dropdown content initially */
  position: absolute;
  background-color: #f9f9f9;
  width: 16.55rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.6rem; /* Match the border-radius of input containers */
  text-decoration: none;
}

/* Style the dropdown links to look like options */
.class-input-dropdown .dropdown-content a {
  color: black;
  padding: 10px; /* Padding to match the button */
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #e0dce4; /* Separator for options */
  font-family: Arial; /* Specific font family */
  font-size: 0.85rem; /* Specific font size */
}

/* Remove border from the last link to match input container style */
.class-input-dropdown .dropdown-content a:last-child {
  border-bottom: none;
}

/* Submit button */
#travel-details-container #submit-button {
  width: 100%; /* Match the width of input containers */
  padding: 10px; /* Same padding as input fields for consistent height */
  border-radius: 0.6rem; /* Match the border radius of input containers */
  border: none; /* No border for the button */
  background-color: #24b7a2; /* Green background color */
  color: white; /* White text color */
  font-size: 1rem; /* Match the font size of input text */
  cursor: pointer; /* Change cursor to pointer on hover */
}

#travel-details-container #submit-button:hover {
  background-color: #28ccb4; /* Slightly lighter green on hover */
}

/**********************/

/*************************************************************************************/

/* Message Form Styles */
#message-form {
  display: flex;
  align-items: center;
  background-color: #444;
  margin: 10px; /* Increased margin to 10px, adjust if needed */
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  resize: none; /* Prevent manual resize */
  min-height: 50px; /* Set minimum height to 60px */
  font-size: 1em; /* Bigger text in textarea */
}

#word-count {
  color: #aaa; /* Light grey for word count */
  margin: 0 10px; /* Added margin for spacing */
  align-self: center;
}

#message-form button {
  background-color: #28ccb4; /* Green button */
  font-weight: 5000;
  color: #444;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#message-form button:hover {
  background-color: #24b7a2;
}

/* Scrollbar Styles */
#messages::-webkit-scrollbar {
  width: 8px;
}

#messages::-webkit-scrollbar-thumb {
  background: #555; /* Scrollbar thumb */
  border-radius: 4px;
}

/* Media Queries */
@media (max-width: 768px) {
  #chat-container {
    height: calc(
      100vh - 0px
    ); /* Reduce the height to account for additional padding */
  }

  #message-form {
    padding-bottom: 0px; /* Add padding at the bottom of the message form */
  }

  /* Additional mobile-specific adjustments can be added here if needed */
}
